body{
  position: relative;
}
.header{
  width: 100%;
  height: 100px;
  background: #FFD54F;
}
.container{
  /*margin-bottom: 50px;*/
}
.footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.pre-button{
  float: none;
}
.next-button{
  float: right;
}
.vertical-aligin{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/*page-1*/

/*page-1 end*/
/*page-2*/
.first-microscope{
  background: url("../img/ilk_mikroskop.jpg"),center;
}
.elde-tasinir-microscope{
  background: url("../img/elde_tasinabilir_mikroskop.jpg"),center;
}
.ingiliz-microscope{
  background: url("../img/ingiliz_mikroskobu.jpg"),center;
}
.diseksiyon-microscope{
  background: url("../img/diseksiyon_mikroskobu.jpg"),center;
}
.light-microscope{
  background: url("../img/isik_mikroskobu.jpg"),center;
}
.first-microscope, .elde-tasinir-microscope,
.ingiliz-microscope, .diseksiyon-microscope,
.light-microscope{
  width: auto;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
/*page-2 end*/
/*page-3*/
/*page-3 end*/
/*page-4*/
/*page-4 end*/