body{
  position: relative;
}
.header{
  width: 100%;
  height: 100px;
  background: #FFD54F;
}
.container{
  /*margin-bottom: 50px;*/
}
.footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.pre-button{
  float: none;
}
.next-button{
  float: right;
}
.vertical-aligin{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/*page-1*/

/*page-1 end*/
/*page-2*/
.first-microscope{
  background: url("../img/ilk_mikroskop.jpg"),center;
}
.elde-tasinir-microscope{
  background: url("../img/elde_tasinabilir_mikroskop.jpg"),center;
}
.ingiliz-microscope{
  background: url("../img/ingiliz_mikroskobu.jpg"),center;
}
.diseksiyon-microscope{
  background: url("../img/diseksiyon_mikroskobu.jpg"),center;
}
.light-microscope{
  background: url("../img/isik_mikroskobu.jpg"),center;
}
.first-microscope, .elde-tasinir-microscope,
.ingiliz-microscope, .diseksiyon-microscope,
.light-microscope{
  width: auto;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
/*page-2 end*/
/*page-3*/
/*page-3 end*/
/*page-4*/
.prokaryote-cell{
  background: url("../img/prokaryote.jpg") no-repeat;
  width: auto;
  height: 400px;
  background-size: contain;

}
.eukaryote-cell{
  background: url("../img/eukaryote.jpg"),no-repeat;
  width: auto;
  height: 400px;
  background-size: contain;

}
/*page-4 end*/
/*page-5*/
.warning-image{
  background: url("./warning.svg"),no-repeat,center;
  width: 35px;
  height: 35px;
  float: left;
  margin: 4px 6px 4px 10px;
}
.organelles-cell{
  background: url("../img/organelles/Untitled-1.jpg");
}
.endoplazmik_retikulum{
  background: url("../img/organelles/endoplazmik_retikulum.jpg");
}
.golgi_device{
  background: url("../img/organelles/golgi_aygiti.jpg");
}
.cell-wall{
  background: url("../img/organelles/hucre_duvari.jpg");
}
.kloroplast{
  background: url("../img/organelles/kloroplast.jpg");
}
.vacuoles{
  background: url("../img/organelles/koful.jpg");
}
.lizozom{
  background: url("../img/organelles/lizozom.jpg");
}
.lokoplast{
  background: url("../img/organelles/lokoplast.jpg");
}
.sentrozom{
  background: url("../img/organelles/sentrozom.jpg");
}
.ribozom{
  background: url("../img/organelles/ribozom.jpg");
}
.organelles-image{
  width: 500px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*page-5 end*/
/*page-6*/
/*page-6 end*/
/*page-7*/
.content {
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#cardSlots {
  margin: 50px auto 0 auto;
  background: #ddf;
}
#cardPile {
  margin: 0 auto;
  background: #ffd;
}
#cardSlots, #cardPile {
  padding: 20px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
#cardSlots div, #cardPile div {
  float: left;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}
#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}
#cardSlots div.hovered {
  background: #aaa;
}
#cardSlots div {
  border-style: dashed;
}
#cardPile div {
  background: #666;
  color: #fff;
  font-size: 24px;
  text-shadow: 0 0 3px #000;
}
#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
#card1.correct { background: red; }
#card2.correct { background: brown; }
#card3.correct { background: orange; }
#card4.correct { background: yellow; }
#card5.correct { background: green; font-size: 13px;}
#card6.correct { background: cyan; }
#card7.correct { background: blue; }
#card8.correct { background: indigo; font-size: 13px;}
#card9.correct { background: purple; }
#card10.correct { background: violet; }
#card11.correct { background: gold; }
#card12.correct { background: #4d61e0; }
.correct{
  width: 120px !important;
  height: 70px;
  line-height: 70px;
  padding: 0 !important;
}
#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}
/*page-7 end*/
/*page-8*/
#page-1 .answer:hover{
  background: #b1afaf;
  border-radius: 10px 15px 15px 10px;
}
.btn-submit{
  margin: 0 auto;
  width: 40%;
}
/*page-8 end*/
/*page-9*/
/*page-9 end*/
/*page-10*/
/*page-10 end*/

